.App {
  text-align: center;
}
button{
  width: 150px;
  display: flex;
  justify-content: center;
  transition: all ease 1s;
}
.start{
  justify-content: start;

}
.end{
  justify-content: end;
}
.light{
  background-color: #fff;
  color: black;
}
.dark{
  background-color: #000;
  color: #fff;
}
